{
    title = "o2";
    icon = "header@2x.png";
    detailText = "更新日志";
    captionText = "一步打通应用间的边界";
    button = "关闭";
    items = (
        {
			title = "o2当前版本号";
            description = "V1.0.11";
            icon = "wel_3.png";
		},        
		{
			title = "2022.05.07";
            description = "
---1.0.11---
1.新增-辅窗口切换同时可操作6个应用
2.变更-横屏时播放器自动隐藏，点击悬浮可呼出，以预留更多的可视空间
3.优化-修复一些前台应用与分屏应用的问题与优化细节

---1.0.10---
0.支持分屏内使用摄像头、微信视频聊天
1.重大新增-长按底部应用快捷可为当前应用打开[可访问摄像头模式]
2.变更-移除原长按全屏打开应用

---1.0.9---
1.变更-调整底部按钮位置
2.新增-低栏新增背景
3.新增-长按关闭按钮返回桌面，单击关闭分屏窗口
4.新增-通知中心按钮*替换原返回桌面按钮
5.新增-一键刷新窗口按钮
6.变更-滑动悬浮切换应用改为默认大窗口
7.变更-优化一些动画效果
8.修复-横屏时主窗口被刘海遮挡的情况
9.优化-长滑动灵敏度
10.新增-底栏背景新增个人专属
11.调整原顶栏快捷，收纳到小三角图标，双击呼出，单击关闭

---1.0.8.1---
1.变更-脱离Activator依赖，手势启动与物理按键，安装Activator既支持，不安装则不支持

---1.0.8---
1.新增-Activator支持 打开或关闭o2分屏窗口
2.新增-通过[音量-] 打开或关闭o2分屏窗口
3.修复-应用快捷按钮高亮色的一些问题

---1.0.7---
1.新增-辅窗口带来了全新的菜单选择，免id烦恼
2.新增-播放音乐时点击专辑或歌词全屏打开当前播放应用
3.新增-应用快捷按钮高亮色*可选
4.修复-窗口应用快捷切换图标不更新的问题
5.修复-喜爱的应用丢失的问题，并启用全新的菜单
6.修复-可能导致安全的小问题

---1.0.6---
1.新增-横屏时长按遮罩自动定位至窗口键盘处并放大，以方便横屏聊天
2.新增-横屏时单击遮罩从放大键盘模式转回正常模式，滑动则为关闭横屏分屏窗口
*提示横屏时点击悬浮打开分屏窗口，不是滑动
3.新增-点击悬浮打开可选单窗口分屏/多窗口分屏
4.新增-打开大窗口是可对悬浮进行滑动长按点击等操作
5.新增-可选择性开启快捷按钮开关
6.新增-一键返回桌面按钮，移除爱心图标
7.优化-线性动画改为非线性动画，更舒坦
8.优化-分屏打开的状态下 双击对应的应用图标切换至大窗口，其他两个小窗自动暂停以更加省电
9.变更-快捷方式位置样式变更
10.变更-为避免不必要的误触，已移除点击遮罩关闭分屏的手势
11.修复-左/右长滑悬浮直接切换打开中3/4窗口，对应的窗口开启错误的问题
12.修复-窗口不贴边有白边的问题
13.修复-大窗口3/4的圆角过大的问题

---1.0.5---
1.新增-长滑动支持打开大窗口*包含其他窗口选项
2.新增-窗口打开时双击对应图标支持以大窗口打开应用
3.新增-暗黑 旋转锁 wifi 录制 手电筒 蓝牙 低电量快捷
4.新增-横屏时支持在主窗口加载3 4窗口的应用
5.新增-系统深浅色背景以及透明背景
6.新增-按钮可选高斯模糊
7.优化-提升老设备的流畅度

---1.0.4---
1.新增-迷你窗口 窗口打开时长按对应图标以切换全屏应用/点击则为切换应用窗口大小
2.新增-迷你窗口 如底层已全屏打开窗口中的某一应用，其他窗口不受影响，照常加载
3.变更-迷你窗口 横屏点击打开支持直接打开播放器
4.变更-移除单手窗口与大窗口
5.修复-迷你窗口 横屏悬浮不能贴边的问题
6.修复-迷你窗口 横屏返回竖屏窗口反转的问题
7.修复-迷你窗口 横屏返回竖屏悬浮反转的问题
8.修复-迷你窗口 可能导致的安全问题

---1.0.3---
1.新增-迷你窗口应用切换按钮支持上下调整
2.新增-迷你窗口的关闭按钮新添旋转动画
3.新增-迷你窗新添两个按钮
4.新增-迷你窗支持长滑直接打开三窗口
5.新增-迷你窗口长滑直接打开主/3/4三窗口以选择为准打开相应大窗口
6.新增-迷你窗口点击关闭按钮关闭窗口
7.变更-加大迷你窗口悬浮上下滑动区域
8.变更-更换音乐播放器上下曲按钮
9.变更-优化震动反馈逻辑以防止震动混乱
10.修复-大窗口无法点击悬浮打开的问题
11.修复-迷你窗口在左手模式滑动打开加载应用异常偏移的问题
12.修复-单手窗口切换到横屏状态找不到悬浮的问题

---1.0.2---
1.迷你窗口点击切换应用窗口大小
2.迷你窗口悬浮横屏支持贴边
3.防止悬浮遮挡键盘

---1.0.1---
1.修复一些已知问题

---1.0---
1.三种窗口样式可选
2.支持横屏
3.通过长按悬浮快速全屏打开应用
4.窗口打开时可长按悬浮图标切换应用";
            icon = "";
		},
    );
}

